.elementor-template-area {}

.elementor-template-area-links-wrapper {
    overflow: hidden;
    padding: 5px;
}

.elementor-template-area-link {
    float: left;
    line-height: 40px;
    margin-right: 10px;
}

.elementor-template-area-link.active {
    border-bottom: 2px solid rgba(0, 0, 0, 0.5);
}

.elementor-template-area-link a {
    color: rgba(0, 0, 0, 0.8);
}
