.elementor-template-area {}

.elementor-template-area-links-wrapper {
    overflow: hidden;
}

.elementor-template-area-link {
    float: left;
    line-height: 40px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    margin-right: 10px;
}
